In [12]:
import pandas as pd

In [13]:
d1 = pd.read_csv('Label_Bthy.csv')
d2 = pd.read_csv('Label_Athy.csv')
d3 = pd.read_csv('Label_Thien.csv')
d1.shape, d2.shape, d3.shape, d1.columns, d2.columns, d3.columns

((2524, 12),
 (1554, 12),
 (1375, 12),
 Index(['annotation_id', 'annotator', 'created_at', 'environment', 'id',
        'lead_time', 'other', 'price', 'quality', 'sentence', 'service',
        'updated_at'],
       dtype='object'),
 Index(['annotation_id', 'annotator', 'created_at', 'environment', 'id',
        'lead_time', 'other', 'price', 'quality', 'sentence', 'service',
        'updated_at'],
       dtype='object'),
 Index(['annotation_id', 'annotator', 'created_at', 'environment', 'id',
        'lead_time', 'other', 'price', 'quality', 'sentence', 'service',
        'updated_at'],
       dtype='object'))

In [14]:
df = pd.concat([d1, d2, d3], ignore_index=True)
df.drop_duplicates(inplace=True)
df.shape, df.columns

((4192, 12),
 Index(['annotation_id', 'annotator', 'created_at', 'environment', 'id',
        'lead_time', 'other', 'price', 'quality', 'sentence', 'service',
        'updated_at'],
       dtype='object'))

In [15]:
df.drop(columns=['annotation_id', 'annotator', 'created_at', 'lead_time', 'updated_at'], inplace=True)
order = ['id', 'sentence', 'price', 'quality', 'environment', 'service', 'other']
df = df[order]
df.head()

,id,sentence,price,quality,environment,service,other
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1150.0,i have been to this place for random dinner wi...,NaN,NaN,NaN,NaN,Negative
3,1150.0,the place is the perfect example of mismanagem...,NaN,NaN,NaN,Negative,NaN
5,1150.0,the food was also pathetic,NaN,Negative,NaN,NaN,NaN
7,1150.0,we have ordered sambhar rice after a lot of di...,NaN,Negative,NaN,Negative,NaN

In [16]:
df = df[~df[['price', 'quality', 'environment', 'service', 'other']].isna().all(axis=1)]
df.isna().sum(), df.shape

(id                0
 sentence          0
 price          3102
 quality        1483
 environment    2840
 service        2323
 other          2871
 dtype: int64,
 (3263, 7))

In [17]:
df.head()

,id,sentence,price,quality,environment,service,other
1,1150.0,i have been to this place for random dinner wi...,NaN,NaN,NaN,NaN,Negative
3,1150.0,the place is the perfect example of mismanagem...,NaN,NaN,NaN,Negative,NaN
5,1150.0,the food was also pathetic,NaN,Negative,NaN,NaN,NaN
7,1150.0,we have ordered sambhar rice after a lot of di...,NaN,Negative,NaN,Negative,NaN
9,1150.0,they were so slow even in providing bill and o...,Negative,NaN,NaN,Negative,NaN

In [18]:
# df.to_csv('Label_merged.csv', index=False)

## input for step 1

In [19]:
data = df.copy()

In [20]:
aspects = ['price', 'quality', 'environment', 'service', 'other']
df[aspects] = df[aspects].notna().astype(int)

In [21]:
df.head()

,id,sentence,price,quality,environment,service,other
1,1150.0,i have been to this place for random dinner wi...,0,0,0,0,1
3,1150.0,the place is the perfect example of mismanagem...,0,0,0,1,0
5,1150.0,the food was also pathetic,0,1,0,0,0
7,1150.0,we have ordered sambhar rice after a lot of di...,0,1,0,1,0
9,1150.0,they were so slow even in providing bill and o...,1,0,0,1,0

In [ ]:
# df.to_csv('aspect_labels.csv', index=False) #input for aspect analysis

## input for step 2

In [ ]:
records = []
for idx, row in data.iterrows():
    for aspect in aspects:
        if pd.notna(row[aspect]):  # Chỉ lấy nếu có sentiment
            records.append({
                'sentence': row['sentence'],
                'aspect': aspect,
                'sentiment': row[aspect]
            })

data = pd.DataFrame(records)
data.head()

                                            sentence   aspect sentiment
0  i have been to this place for random dinner wi...    other  Negative
1  the place is the perfect example of mismanagem...  service  Negative
2                        the food was also pathetic   quality  Negative
3  we have ordered sambhar rice after a lot of di...  quality  Negative
4  we have ordered sambhar rice after a lot of di...  service  Negative

In [24]:
data.to_csv('aspect_sentiment.csv', index=False)  # Input for sentiment analysis